In [10]:
import os, sys
from datetime import datetime
import pandas as pd
import batch

In [3]:
tmpDF = pd.read_parquet('./output_test/yellow_tripdata_2023-03.parquet')
display(tmpDF.head())

     ride_id  predicted_duration
0  2023/03_0           16.245906
1  2023/03_1           26.134796
2  2023/03_2           11.884264
3  2023/03_3           11.997720
4  2023/03_4           10.234486

In [12]:
def dt(hour, minute, second = 0):
    return datetime(2023, 1, 1, hour, minute, second)

data = [
    (None, None, dt(1, 1), dt(1, 10)),
    (1, 1, dt(1, 2), dt(1, 10)),
    (1, None, dt(1, 2, 0), dt(1, 2, 59)),
    (3, 4, dt(1, 2, 0), dt(2, 2, 1)),      
]

columns = ['PULocationID', 'DOLocationID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime']
categorical = ['PULocationID', 'DOLocationID']
df = pd.DataFrame(data, columns=columns)
df1 = df.copy()

In [19]:
data_expected = [('-1', '-1', '2023-01-01T01:01:00.000000000', '2023-01-01T01:10:00.000000000', 9.),
           ('1', '1', '2023-01-01T01:02:00.000000000', '2023-01-01T01:10:00.000000000', 8.)]
df_expected = pd.DataFrame(data_expected, columns = ['PULocationID', 'DOLocationID', 'tpep_pickup_datetime'\
                                                     , 'tpep_dropoff_datetime', 'duration'])
df_expected.head()

,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,duration
0,-1,-1,2023-01-01T01:01:00.000000000,2023-01-01T01:10:00.000000000,9.0
1,1,1,2023-01-01T01:02:00.000000000,2023-01-01T01:10:00.000000000,8.0

In [22]:
batch.prepare_data(df1, categorical).compare(df_expected).empty

True

In [8]:
df['duration'] = (df.tpep_dropoff_datetime - df.tpep_pickup_datetime).dt.total_seconds() / 60
df.head()

,PULocationID,DOLocationID,tpep_pickup_datetime,tpep_dropoff_datetime,duration
0,NaN,NaN,2023-01-01 01:01:00,2023-01-01 01:10:00,9.000000
1,1.0,1.0,2023-01-01 01:02:00,2023-01-01 01:10:00,8.000000
2,1.0,NaN,2023-01-01 01:02:00,2023-01-01 01:02:59,0.983333
3,3.0,4.0,2023-01-01 01:02:00,2023-01-01 02:02:01,60.016667